@{
    ViewData["Title"] = "Cars Catalog";
    ViewData["count"] = 4;
}


<div id="catalog">
    
</div>


@section Styles {
    <link href="/css/catalog.css" rel="stylesheet">
}

@section Scripts {
<script src="/js/catalog.js"></script>
}
