@{
ViewData["Title"] = "Car Registration";
}

@*
Make
Model
Year
Color
Price
Mileage
Condition (new / used)
image
Seats
MPG
*@

<div class="col-md-6 offset-md-3">
    <form>

    <h3>Register new Car</h3>

    <div class="form-group row">
        <label for="textImage" class="col-4 col-form-label">Image Url</label>
        <div class="col-8">
            <input id="txtImage" name="textImage" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="txtMake" class="col-4 col-form-label">Make</label>
        <div class="col-8">
            <input id="txtMake" name="textMake" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="textModel" class="col-4 col-form-label">Model</label>
        <div class="col-8">
            <input id="txtModel" name="textModel" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="textYear" class="col-4 col-form-label">Year</label>
        <div class="col-8">
            <input id="txtYear" name="textYear" type="number" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="textColor" class="col-4 col-form-label">Color</label>
        <div class="col-8">
            <input id="txtColor" name="textColor" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="textSeats" class="col-4 col-form-label">Seats</label>
        <div class="col-8">
            <input id="txtSeats" name="textSeats" type="number" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="textPrice" class="col-4 col-form-label">Price</label>
        <div class="col-8">
            <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
            </div>
            <input id="txtPrice" name="textPrice" type="number" class="form-control">
            <div class="input-group-append">
                <div class="input-group-text">USD</div>
            </div>
        </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="textMileage" class="col-4 col-form-label">Mileage</label>
        <div class="col-8">
        <div class="input-group">
            <input id="txtMileage" name="textMileage" type="number" class="form-control">
          <div class="input-group-append">
            <div class="input-group-text">mi</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="selcondition" class="col-4 col-form-label">Condition</label>
      <div class="col-8">
        <select id="selcondition" name="selcondition" class="custom-select">
          <option value="new">New</option>
          <option value="used">Used</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="textMPG" class="col-4 col-form-label">MPG</label>
      <div class="col-8">
        <div class="input-group">
          <input id="txtMPG" name="textMPG" type="number" class="form-control">
          <div class="input-group-append">
            <div class="input-group-text">mi</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-4 col-8">
        <button name="submit" type="button" class="btn btn-primary" id="carSave">
          <i class="fa fa-save"></i>
          Register Car
        </button>
      </div>
    </div>
  </form>
</div>

@section Scripts {
    <script src="/js/register.js"></script>
}