img{
    width: 500;
    height: 500;
}

.image {
    border-radius: 10px;
}

.pogi {
    text-align: center;
}

.xyz {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    
}

.hrmt {
    margin-top: 0;
}

.wraper {
    height: 90vh;
}